* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F7FB;
}

.yellow-background {
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
}

.gray-background {
    width: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Css styles for start page */
.start-page {
    text-align: center;
}

.start-page > h1 {
    font-family: Karla, sans-serif;
    font-weight: 700;
    font-size: 31.25px;
    color: #293264;
    margin-bottom: 14px;
}

.start-page > h4 {
    margin-top: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: #293264;
    margin-bottom: 29px;
}

.start-page > button{
    color: #F5F7FB;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    background-color: #4D5B9E;
    border-radius: 15px;
    border: none;
    padding: 16px 56px;
}

.start-page > button:hover {
    background-color: #5c69a9;
}

/* CSS for quizzes component */
.quiz {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    padding-top: 14.63px;
    padding-bottom: 15px;
    border-bottom: 0.79px solid #DBDEF0;
}
.quiz > h1 {
    margin-top: 0;
    max-width: 650px;
    font-family: Karla, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #293264;
    margin-bottom: 12px;
}

.choices {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5px;
}

.choices > button {
    padding-block: 4px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    font-family: Inter;
    font-weight: 500;
    max-width: 160px;
    font-size: 13px;
    color: #293264;
    border: 0.79px solid #4D5B9E;
    border-radius: 7.94px;
    min-width: 80px;
}

.choices > button:hover {
    background-color: #D6DBF5;
}

.check-answers {
    border: none;
    border-radius: 12px;
    margin: 20px auto 0;
    font-family: Inter, sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 12px;
    padding: 11px 21px 10px 22px;
    background-color: #4D5B9E;
    color: #F5F7FB;
}

.check-answers:hover {
    background-color: #5e699f;
}

@media screen and (max-width: 768px) {
    .quiz > h1 {
        font-size: 2.6vw; /* Adjust font size for smaller viewports */
    }

    .choices > button {
        font-size: 1.6vw;
    }
}

@media screen and (max-width: 480px) {
    .quiz > h1{
        font-size: 3vw; /* Adjust font size for even smaller viewports */
    }

    .choices > button {
        font-size: 3vw;
    }
}

.box {
    max-width: 72vw;
}